.people-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  text-align: center;
}

.people-wrapper .person-detail {
  padding: 5px;
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 300px;
  display: inline-flex;
  text-align: left;
}
