.tile {
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.tile .tile-header .tile-title {
  display: inline-block;
  color: #fff;
  max-width: 100%;
  padding: 10px 24px;
  font-size: 24px;
  font-weight: 300;
}

.tile .tile-content {
  border-radius: 0 0 2px 2px;
  overflow-y: auto;
}

.tile .tile-actions {
  border-radius: 0 0 2px 2px;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.tile .tile-header {
  position: relative;
}

.tile .tile-header .icon {
  position: absolute; right: 24px;
}
