<div id="header" class="highlighted box-shadow">
  <div id="header-inner">
    <div id="logo" class="clickable" [appRouterLink]="''">
      <div id="logo-left">/CVNS/</div>
      <div id="logo-right">
        <span>CENTRUM VÝZKUMU</span>
        <span>NEZISKOVÉHO SEKTORU</span>
      </div>
    </div>
    <div id="right">
      <div id="menu" *ngIf="isNavMenuVisible()">
        <span *ngFor="let navItem of getNavigationItems()"
              [ngClass]="{'nav-menu-item': true, 'clickable': true, 'selected': isNavItemSelected(navItem)}"
              [ngStyle]="{'background-color': navItem.color}"
              [appRouterLink]="navItem.url">{{navItem.key | translate | async}}</span>
      </div>
      <div id="locale-picker">
        <span *ngFor="let locale of getLocales()"
              [ngClass]="{'selected': isLocaleSelected(locale), 'clickable': true}"
              (click)="setLocale($event, locale)">{{locale}}</span>
      </div>
      <div id="search-widget">
        <input type="text" placeholder="Search:"/>
      </div>
    </div>
  </div>
</div>
<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="footer" class="highlighted box-shadow">
  <div id="footer-content" class="flex-container">
    <div>
      <div id="contact-wrapper">
        <h2>{{'contact' | translate | async}}:</h2>
        <span class="strong">{{getInfo().name}}</span>
        <span>{{getInfo().address}}</span>
        <span>{{getInfo().phone}}</span>
        <span>{{getInfo().email}}</span>
        <iframe id="map-widget" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen [src]="getMapWidgetUrl()"></iframe>
      </div>
    </div>
    <div>
      <div id="sponsors-wrapper">
        <h2>{{'sponsors' | translate | async}}:</h2>
        <!--<ul>-->
          <span *ngFor="let sponsor of getInfo().sponsors">{{sponsor}}</span>
        <!--</ul>-->
      </div>
    </div>
  </div>
  <div id="links-wrapper">
    <a *ngFor="let link of getInfo().links" href="{{link.url}}" target="_blank">{{link.label}}</a>
  </div>
  <div id="copyright-wrapper">&copy; 2017 CVNS Uvedená práce (dílo) podléhá licenci Creative Commons Uveďte autora 3.0 Česko</div>
</div>

