/* header */

div#header-inner {
  padding: 20px;
}

div#header-inner > div,
div#right > div {
  line-height: 31px;
  display: inline-block;
  vertical-align: bottom;
}

div#right {
  float: right;
  line-height: 100%;
}

div#locale-picker,
div#menu {
  margin-right: 10px;
}

.selected {
  text-decoration: underline;
}

div#menu > span,
div#locale-picker > span {
  margin-right: 10px;
}

.nav-menu-item {
  display: inline-block;
  color: white;
  width: 100px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* logo */

div#logo > div {
  float: left;
}

div#logo > div#logo-left {
  display: inline-block;
  font-size: 20pt;
}

div#logo > div#logo-right > span {
  display: block;
  font-size: 8.5pt;
  line-height: normal;
}

div#logo > div > span:first-child {
  margin-top: 2px;
}

/* content wrapper */

div#content-wrapper {
  margin: 10px;
  min-height: 800px;
}

/* footer */

div#footer {
}

div#footer-content {
  padding: 20px 20px 0 20px;
}

iframe#map-widget {
  margin-top: 20px;
}

div#footer-content > div {
  flex: 1 1 50%;
  min-width: 500px;
}

div#footer-content > div > div#contact-wrapper {
  padding-right: 20px;
  max-height: 570px;
  overflow-y: hidden;
}

div#footer-content > div > div#sponsors-wrapper {
  padding-left: 20px;
  max-height: 570px;
  overflow-y: hidden;
}

div#contact-wrapper > span {
  display: block;
  line-height: 150%;
  font-size: 10pt;
}

div#links-wrapper,
div#copyright-wrapper {
  padding: 20px 0 0 0;
  text-align: center;
}

div#copyright-wrapper {
  padding-bottom: 20px;
  font-size: 10pt;
}

div#links-wrapper > * {
  padding: 0 5px;
  font-size: 10pt;
}

div#sponsors-wrapper > span {
  display: block;
  font-size: 10pt;
  line-height: 150%;
}
