.links * {
  margin: 0 10px;
}

main {
  min-height: 810px;
}

.footer-col {
  width: 50%;
  padding: 0 30px;
}

.footer-logo {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.top-links {
  margin: 0;
  padding: 0 20px;
}

.top-links a:not(:last-child){
  margin-right: 10px;
}
