<header>
  <ul id="locale-dropdown" class="dropdown-content">
    <li *ngFor="let locale of getLocales()"><a href="#" (click)="setLocale($event, locale)">{{locale}}</a></li>
  </ul>
  <div class="top-links row blue-grey darken-3">
    <div class="right">
      <a *ngFor="let link of getInfo().links" class="grey-text text-lighten-4" data-delay="100" title="{{link.tooltip}}" href="{{link.url}}" target="_blank">{{link.label}}</a>
    </div>
  </div>
  <nav>
    <div class="nav-wrapper row blue-grey darken-4">
      <a href="#" [appRouterLink]="''" class="brand-logo">
        <img src="" alt="logo"/>
      </a>
      <ul id="main-navigation" class="right hide-on-med-and-down">
        <li *ngFor="let navItem of getNavigationItems()"
            [ngClass]="{'active': isNavItemSelected(navItem)}">
          <a href="#" [appRouterLink]="navItem.url">
            <!--<i class="material-icons left">{{navItem.icon}}</i>-->
            {{navItem.key | translate | async}}
          </a>
        </li>
        <li><a href="#" [appRouterLink]="''"><i class="material-icons">home</i></a></li>
        <li><a href="#" class="dropdown-button" data-activates="locale-dropdown"><i class="material-icons">language</i></a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row flex">
      <div class="footer-col">
        <h5>{{'contact' | translate | async}}:</h5>
        <ul>
          <li><strong>{{getInfo().name}}</strong></li>
          <li>{{getInfo().address}}</li>
          <li>{{getInfo().phone}}</li>
          <li>{{getInfo().email}}</li>
        </ul>
        <iframe id="map-widget" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen [src]="getMapWidgetUrl()"></iframe>
      </div>
      <div class="footer-col">
        <h5 class="white-text">{{'sponsors' | translate | async}}:</h5>
        <ul>
          <li *ngFor="let sponsor of getInfo().sponsors">{{sponsor}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-3">
    <div class="container">
      &copy; {{getYear()}} CVNS
      <div class="links right">
        <a *ngFor="let link of getInfo().links" class="grey-text text-lighten-4" data-delay="100" title="{{link.tooltip}}" href="{{link.url}}" target="_blank">{{link.label}}</a>
      </div>
    </div>
  </div>
</footer>
