<div id="header" class="highlighted box-shadow">
  <div id="header-inner">
    <div id="logo" class="clickable" [appRouterLink]="''">
      <div id="logo-left">/CVNS/</div>
      <div id="logo-right">
        <span>CENTRUM VÝZKUMU</span>
        <span>NEZISKOVÉHO SEKTORU</span>
      </div>
    </div>
    <div id="right">
      <div id="menu" *ngIf="isNavMenuVisible()">
        <span *ngFor="let navItem of getNavigationItems()"
              [ngClass]="{'nav-menu-item': true, 'clickable': true, 'selected': isNavItemSelected(navItem)}"
              [ngStyle]="{'background-color': navItem.color}"
              [appRouterLink]="navItem.url">{{navItem.key | translate | async}}</span>
      </div>
      <div id="locale-picker">
        <span *ngFor="let locale of getLocales()"
              [ngClass]="{'selected': isLocaleSelected(locale), 'clickable': true}"
              (click)="setLocale($event, locale)">{{locale}}</span>
      </div>
      <div id="search-widget">
        <input type="text" placeholder="Search:"/>
      </div>
    </div>
  </div>
</div>
<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="footer" class="highlighted box-shadow">
  <div>
    <span>{{getInfo().name}}</span>
    <span>{{getInfo().address}}</span>
    <span>{{getInfo().phone}}</span>
    <span>{{getInfo().email}}</span>
  </div>
  <div>
    <span *ngFor="let sponsor of getInfo().sponsors">{{sponsor}}</span>
  </div>
  <span>&copy; 2017 CVNS Uvedená práce (dílo) podléhá licenci Creative Commons Uveďte autora 3.0 Česko</span>
</div>
