.bio-text {
  font-family: Roboto, sans-serif;
  font-style: italic;
  color: #5b5b5b;
  text-align: justify;
}

.card .card-reveal .section-title {
  font-size: 12pt;
}

.card .card-reveal ul {
  margin-top: 10px;
}
