<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{person.photo}}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{person.firstname}} {{person.lastname}}<i class="material-icons right">more_vert</i></span>
    <p>{{person.role}}</p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Fields:<i class="material-icons right">close</i></span>
    <ul>
      <li *ngFor="let field of person.fields">{{field.name}}</li>
    </ul>
  </div>
</div>
