body {
  padding: 0;
  margin: 0;
  font-family: 'Source sans pro', sans-serif;
  color: #3b3b3b;
  background-color: #e0e0e0;
}

div.highlighted {
  background-color: #3b3b3b;
  color: #c9c9c9;
}

a:VISITED, a:HOVER, a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.box-shadow {
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.50);
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.50);
}

.strong {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
